# direnv configuration for Seam
# Run `direnv allow` once in this directory to activate automatically.
#
# Requires devenv (https://devenv.sh) and direnv (https://direnv.net).
# Available in nixpkgs: nix profile install nixpkgs#devenv nixpkgs#direnv
#
# To regenerate .devenv-direnvrc after a devenv upgrade:
#   devenv direnvrc > .devenv-direnvrc

source .devenv-direnvrc
use devenv
